<html>
    <head>
        <title>Shoe Stores</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="jumbotron">
            {% if stores is not empty %}
                <h1>Here are the stores that carry {{ brand.getName }}</h1>
                <ul>
                    {% for store in stores %}
                        <form action="/stores/{{ store.getId }}">
                            <button type="submit" class="btn btn-flat btn-primary">{{ store.getName }}</button>
                        </form>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>No stores carry this brand</h1>
            {% endif %}
            <form action="/brands">
                <button type="submit" class="btn btn-flat btn-default">Back</button>
            </form>
            <form action="/">
                <button type="submit" class="btn btn-flat btn-default">Home</button>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <form action="/add_stores" method="post">
                        <input type="hidden" name="brand_id" value="{{ brand.getId }}">
                        <label for="store_id">Select a store</label>
                        <select name="store_id" type="number">
                            {% for store in all_stores %}
                                <option value="{{ store.getId }}">{{ store.getName }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-flat btn-default">Add store to brand</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
